@import url("style-guide.css");

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-body);
  font-size: var(--font-size-base);
  color: var(--neutral-0);
  background-color: var(--neutral-900);
  padding: 20px;
  max-width: 1130px;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 30px;
}

/*** Dropdown for units ***/
.dropdown {
  position: relative;
  padding: 0;
}

.dropdown-button {
  background: rgba(255, 255, 255, 0.1);
  color: var(--neutral-0);
  border: none;
  padding: 0.6rem;
  margin-bottom: 0.4rem;
  border-radius: 0.5rem;
  font-size: 0.95rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
}

.dropdown-menu {
  position: absolute;
  top: 110%;
  right: 0;
  width: 220px;
  background: var(--neutral-800);
  border: 2px solid var(--neutral-600);
  border-radius: 0.75rem;
  padding: 0.6rem;
  display: none;
  flex-direction: column;
  z-index: 100;
}

.dropdown.show .dropdown-menu {
  display: flex;
}

.dropdown-label {
  font-size: 0.8rem;
  margin: 0.5rem 1rem;
}

.dropdown-item {
  width: 100%;
  text-align: left;
  padding: 0.6rem 1rem;
  background: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
}

.dropdown-item:hover {
  background: var(--neutral-600);
}
.dropdown-item.active {
  background: var(--neutral-600);
  border-radius: 0.4rem;
}

.dropdown-item.active::after {
  content: url("./assets/images/icon-checkmark.svg");
  float: right;
}

hr {
  border: none;
  border-top: 1px solid var(--neutral-600);
  margin: 0.8rem 1rem;
  width: 95%;
  display: flex;
  align-self: center;
}

.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.top-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 20px;
}
.title {
  font-family: var(--font-heading);
  font-size: 3rem;
  text-align: center;
}

.search-form {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 20px;
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
}
.search-input {
  background: var(--neutral-800) url("./assets/images/icon-search.svg")
    no-repeat 1rem center;
  padding: 1rem 1rem 1rem 3rem;
  width: 100%;
  border-radius: 0.5rem;
  border: none;
  font-size: 1.3rem;
  outline: none;
  color: var(--neutral-0);
}

.search-input::placeholder {
  color: var(--neutral-200);
}

.search-button {
  padding: 1rem;
  border: none;
  height: 55px;
  border-radius: 0.5rem;
  background-color: var(--blue-500);
  color: var(--neutral-0);
  font-size: 1.3rem;
  cursor: pointer;
}

.suggestions {
  position: relative;
  backdrop-filter: blur(8px);
  background: var(--neutral-800);
  border-radius: 0.75rem;
  width: 100%;
  margin-top: 0.3rem;
  overflow: hidden;
  z-index: 99;
}

.suggestion-item {
  padding: 0.8rem 1rem;
  cursor: pointer;
  color: var(--neutral-0);
}

.suggestion-item:hover {
  background: rgba(255, 255, 255, 0.1);
}

.loader {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.8rem;
  padding: 0rem 1rem;
}

.loader img {
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Main Section*/

.main-container {
  display: none;
  justify-content: center;
  width: 100%;
  text-align: center;
  gap: 20px;
}

.left {
  flex: 2;
  gap: 40px;
}

.weather-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: url("./assets/images/bg-today-large.svg ") no-repeat center center;
  height: 250px;
  border-radius: 1rem;
  padding: 1.5rem 2rem;
  margin-bottom: 30px;
}

.weather-header h1 {
  margin-bottom: -10px;
  font-size: 1.8rem;
}
.weather-header p {
  color: var(--neutral-200);
}

.weather-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.weather-info img {
  width: 120px;
}

.temperature {
  font-size: 5.2rem;
  font-weight: 500;
  font-style: italic;
}

/* Weather details */

.weather-details {
  display: flex;
  justify-content: space-between;
}

.detail {
  background: var(--neutral-800);
  border: 1px solid var(--neutral-600);
  border-radius: 1rem;
  text-align: left;
  padding: 1rem;
  width: 150px;
  height: 110px;
}

.detail-label {
  font-size: 1.2rem;
  color: var(--neutral-300);
  margin-bottom: 0.3rem;
  display: inline;
}

.detail-value {
  font-size: 1.6rem;
  color: var(--neutral-0);
}

/******** Daily Forcast **********/
.daily-forcast {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 2rem;
}

.daily-forcast h3 {
  font-weight: 500;
}
.daily-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.day {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: var(--neutral-800);
  border: 2px solid var(--neutral-600);
  border-radius: 0.75rem;
  padding: 0.6rem 0.5rem;
  height: 160px;
  width: 85px;
}

.day-name {
  font-weight: bold;
}

.day-temp {
  font-size: 1rem;
}

.day-icon {
  width: 60px;
  height: 60px;
}

/******** Hourly Forecast **********/
.hourly-forecast {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  max-width: 650px;
  height: 650px;
  overflow-y: auto;

  padding: 1rem;
  background: var(--neutral-800);
  scrollbar-width: thin;
  scroll-padding: 1rem;
  border-radius: 1rem;
  gap: 0.2rem;
  margin-bottom: 2rem;
}
.hour-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hour-header p {
  font-size: 1.3rem;
  font-weight: 500;
}

#day-select {
  background: var(--neutral-600);
  color: var(--neutral-200);
  border: 1px solid var(--neutral-500);
  border-radius: 0.5rem;
  padding: 0.6rem 1rem;
  cursor: pointer;
  font-size: 1.2rem;
}
.hour {
  display: flex;
  align-items: center;
  background: var(--neutral-700);
  border: 2px solid var(--neutral-600);
  border-radius: 0.7rem;
  padding: 0.2rem 0.6rem;
  margin-bottom: 1rem;
  transition: all 0.2s ease;
}

.hour:hover {
  background: var(--neutral-600);
}

.hour-time {
  font-size: 1rem;
  opacity: 0.8;
}

.hour-temp {
  font-size: 1rem;
  margin-left: auto;
}

.hour-icon {
  width: 50px;
  height: 50px;
  margin-right: 0.5rem;
}

.loading-placeholder {
  background: var(--neutral-700);
  color: var(--neutral-300);
  border-radius: 0.5rem;
  display: inline-block;
  animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}

.wrong {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  text-align: center;
}

.wrong h1 {
  font-size: 2rem;
  margin: 0;
  margin-top: 20px;
}

.retry {
  background: var(--neutral-800);
  color: var(--neutral-0);
  border: none;
  padding: 0.5rem;
  margin-bottom: 0.4rem;
  border-radius: 0.5rem;
  font-size: 0.95rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
}

@media (max-width: 1050px) {
  .main-container {
    display: none;
    flex-direction: column;
    align-items: center;
  }

  .left {
    width: 650px;
    gap: 40px;
  }
}

@media (max-width: 750px) {
  body {
    max-width: 500px;
    margin: 0 auto;
  }
  .title {
    font-size: 3.4rem;
  }

  .search-form {
    flex-direction: column;
    max-width: 350px;
  }

  .search {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .search-button {
    margin-top: -10px;
    margin-bottom: 15px;
  }

  .left {
    width: 100%;
    gap: 40px;
  }
  .weather-card {
    flex-direction: column;
  }

  .weather-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    width: 100%;
    margin-top: 20px;
  }

  .detail {
    background: var(--neutral-800);
    width: 100%;
    border-radius: 10px;
    padding: 15px;
  }

  .detail-label {
    font-size: 0.9rem;
    color: var(--neutral-200);
    margin-bottom: 5px;
  }

  .detail-value {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--neutral-0);
  }

  .daily-container {
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    gap: 10px;
  }
  .day {
    padding: 0.6rem 0.5rem;
    height: 160px;
    width: 25%;
    margin-bottom: 10px;
  }
}

@media (max-width: 450px) {
  .logo {
    height: 28px;
  }
  .daily-container {
    flex-wrap: wrap;
    justify-content: start;
    justify-content: space-between;
    gap: 5px;
  }

  .day {
    padding: 0.6rem 0.5rem;
    height: 160px;
    width: 30%;
  }
}
